body{
    margin: 0px;
}
#wrapper{
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: absolute;
}
#imagecontainer{
    
    display: block;
    height: 100%;
    width: auto;
    float: inherit;
    
    position: absolute;
    overflow: hidden;


    
}
#imagecontainer::selection{ 
    display: none;
}
#slfw-previous{
    position: relative;
    color: white;
    float:left;
    margin-left: 2%;
    margin-top: 46%;
    cursor:pointer;
}
#slfw-next{

   position: relative;
    color: white;
    float: right;
    margin-right: 2%;
    margin-top: 46%;
    cursor: pointer;

    
}
#slfw-next i{
    font-size: 40px;
    text-shadow: 1px 1px 4px #888888;

}
#slfw-previous i{
    font-size: 40px;
    text-shadow: 1px 1px 4px #888888;
}
